<body>
  <h1>Students</h1>
  <ul>
    <% students.forEach(student => { %>
      <li>
				<%= student.text %> 
				- 
				<%= student.isStudent ? 'is a student' : 'not a student' %>
			</li>
    <% }) %>
  </ul>
</body>